body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: Arial, sans-serif;
    color: #fff;
}

.centered-container {
    text-align: center;
    margin-top: 50px;
}

button, input {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

input {
    width: 60%;
}

.circle-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
